.most_recent_blogs {
  display: flex;
}
.blog_desc {
  line-height: 38px;
  font-size: 22px;
}
.blog_title {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 600;
}
.blog_author_image {
  height: 120px;
}

.blog_author {
  display: flex;
  justify-content: end;
  background-color: #f8f9fa !important;
  padding: 25px;
}
.blog_comment_user {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.blog_comment {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.blog_comment_form {
  width: 75%;
  background-color: #f8f9fa !important;
  padding:20px 25px;
}
label {
  display: block !important;
}
.blog_comment_input {
  padding: 10px;
  width: 100%;
}
