.nav_logo {
  font-size: 40px;
  font-weight: bold;
}
.nav_blog {
  color: white;
}
.nav_it {
  color: #ffba42 ;
}
@media(max-width:990px){
  .navbar-nav{
text-align: right !important;
  }
}
@media(max-width:350px){
  .nav_logo {
    font-size: 30px;
    font-weight: bold;
  }
}